<h1> Registro de usuarios </h1>

<form action="/api/sessions/register" method="POST">
    <label for="first_name">First Name: </label>
    <input type="text" name="first_name" required>
    <br><br>

    <label for="last_name"> Last Name: </label>
    <input type="text" name="last_name" required>
    <br><br>

    <label for="usuario"> Nombre de Usuario: </label>
    <input type="text" name="usuario" required>
    <br><br>

    <label for="email"> Email: </label>
    <input type="email" name="email" required>
    <br><br>

    <label for="password"> Password: </label>
    <input type="text" name="password" required>
    <br><br>

    <label for="age">Age: </label>
    <input type="number" name="age" required>
    <br><br>

    <label for="adminCode">Código de administrador (opcional):</label>
    <input type="text" id="adminCode" name="adminCode" placeholder="Ingresa el código de admin si tienes uno">
    <br><br>
    
    <button type="submit"> Register </button>
    <hr>