<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    {{{body}}}
    
    <script>
    function addToCart(productId) {
        // Lógica para agregar el producto al carrito
    }

    function removeFromCart(productId) {
        // Lógica para remover el producto del carrito
    }

    
    document.querySelector('form').addEventListener('submit', function(e) {
        const adminCode = document.getElementById('adminCode').value;
        if (adminCode && adminCode !== "ADM1N") {
            e.preventDefault();
            alert('Código de administrador incorrecto');
        }
    });

</script>

</body>
</html>